name: Create Release Tag

on:
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    timeout-minutes: 10
    if: ${{ !contains(github.event.head_commit.message, 'chore(release)') }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm install @semantic-release/changelog @semantic-release/git @semantic-release/github @semantic-release/exec
      - name: Run semantic-release
        run: npx semantic-release@23.0.6
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
